# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\myPrograms\javalab\03. Maven Example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
