# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\myPrograms\inf\07. Socket-Server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
